<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
	<loc>{{PROD_URL}}</loc>
	<lastmod>{{LASTMOD_DATE}}</lastmod>
	<changefreq>daily</changefreq>
	<priority>1.0</priority>
</url>

<url>
	<loc>{{PROD_URL}}about-us</loc>
	<lastmod>{{LASTMOD_DATE}}</lastmod>
	<changefreq>weekly</changefreq>
	<priority>0.4</priority>
</url>

<url>
	<loc>{{PROD_URL}}contact-us</loc>
	<lastmod>{{LASTMOD_DATE}}</lastmod>
	<changefreq>weekly</changefreq>
	<priority>0.4</priority>
</url>

<url>
	<loc>{{PROD_URL}}our-blogs</loc>
	<lastmod>{{LASTMOD_DATE}}</lastmod>
	<changefreq>weekly</changefreq>
	<priority>0.4</priority>
</url>

</urlset>
